body {
  display: flex;
  justify-content: center;
}

.fdb-block {
  font-family: sans-serif;
  padding: 20px 0;
}

.fdb-block h3 {
  word-break: keep-all;
}

.query-history {
  text-transform: capitalize;
}

.search-condition {
  text-transform: capitalize;
}

.search-condition::before, .search-condition::after {
  content: '"'
}

.results__tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.results__tag {
  text-transform: capitalize;
}

.preview {
  display: none;
  position: relative;
}

.preview iframe {
  border: none;
  height: 100%;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.preview--show {
  display: block;
}

.preview__open-in-qiita {
  background-color: #55c500;
  color: white;
  height: 44px;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.preview__open-in-qiita a {
  color: white;
}

.preview__close {
  background-color: #55c500;
  bottom: 0;
  color: white;
  position: fixed;
  text-align: center;
}

.preview__close a {
  color: white;
}
